<% layout('/layouts/boilerplate.ejs') %>

<h2>your personal data</h2>
<br>
<br>
<img src="<%= alldataUser.image.url %>" class="prof">
<br>
<h3>Username:<%= alldataUser.username %></h3>
<br>
<p>Name:-<%= alldataUser.name %></p>
<br>
<p>Gender:-<%= alldataUser.gender %></p>
<br>
<p>Email_id:-<%= alldataUser.email %></p>
<br>
<p>Contact Number:-<%= alldataUser.mobile_num%></p>





